<section class="p-4 border panel">
    <div class="grid-2">
        <div>
            <h2>Permissões</h2>
        </div>
        <div>
            <a href="/painel/permissoes/novo" title="Nova Permissão" class="btn btn-primary pull-right">Novo <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Criado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each permissions}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.date}}</td>
                <td>
                    {{#if (../helpers.can 'view.permissions')}}
                    <a href="/painel/permissoes/{{this._id}}" class="btn btn-warning" title="Visualizar Permissão"><i class="fa-solid fa-eye"></i></a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>