<section class="p-4 border panel">
    <h2>Nome</h2>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis quam expedita, quisquam deleniti quis modi et ea. Doloribus illum facere quaerat ipsa cum sed repellendus perspiciatis aliquam similique in.</p>
</section>