<footer class="footer-blog">
    <p>{{config.app.name}} &copy; Todos os direitos reservados | Desenvolvido por <a href="https://ryan-menezes.github.io/" title="Desenvolvido por Ryan Menezes" target="_blank">Ryan Menezes</a></p>
</footer>