<header class="header-blog">
    <div class="">
        <h1>Blog</h1>
    </div>  
</header>
<section class="banner-blog" style="background-image: url('https://www.nafa.edu.sg/images/default-source/course-page-thumbnails/degree/bachelor-of-arts-honours-fine-art-b.jpg?sfvrsn=a29916b2_2');">
    <h2 class="banner-title mb-1">Fique sempre por dentro das novidades!</h2>
    <p class="banner-desc mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium autem quasi mollitia quos sapiente possimus omnis iste iusto soluta id.</p>

    <div>
        <a href="" title="Ver Postagens" class="button-desq">Ver todas as postagens</a>
    </div>
</section>