<aside class="sidemenu">
    <div class="sidemenu-header">
        <h4 class="sidemenu-title">Menu</h4>
    </div>

    <div class="sidemenu-body">
        <form action="/" method="POST" class="form form-search">
            <div class="form-group">
                <input type="search" name="search" placeholder="Buscar..." class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="categories-card mt-4">
            <div class="categories-card-header">
                <h4 class="categories-card-title">Categorias</h4>
            </div>
            <div class="categories-card-body">
                <ul>
                    {{#each categories}}
                    <li><a href="/categorias/{{this.slug}}" title="{{this.name}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</aside>