<nav class="menu">
    <div class="menu-header">
        <h1>Painel {{config.app.name}}</h1>
    </div>
    <ul>
        <a href="/painel" title="Início do Painel"><li><i class="fa-solid fa-home"></i> Início</li></a>
        <a href="/painel/usuarios" title="Página de Usuários"><li><i class="fa-solid fa-users"></i> Usuários</li></a>
        <a href="/painel/categorias" title="Página de Categorias"><li><i class="fa-solid fa-tags"></i> Categorias</li></a>
        <a href="/painel/postagens" title="Página de Postagens"><li><i class="fa-solid fa-newspaper"></i> Postagens</li></a>
        <a href="/painel/funcoes" title="Página de Funções"><li><i class="fa-solid fa-user-tie"></i> Funções</li></a>
        <a href="/painel/permissoes" title="Página de Permissões"><li><i class="fa-solid fa-lock"></i> Permissões</li></a>
        <a href="/painel/sair" title="Sair do Painel"><li><i class="fa-solid fa-right-from-bracket"></i> Sair</li></a>
    </ul>
</nav>