<section class="p-4 border panel">
    <div class="grid-2">
        <div>
            <h2>Funções</h2>
        </div>
        <div>
            <a href="/painel/funcoes/novo" title="Nova Função" class="btn btn-primary pull-right">Novo <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Criado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each roles}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{dateFormat this.created_at}}</td>
                <td>
                    <a href="/painel/funcoes/{{this._id}}/editar" class="btn btn-primary" title="Editar Função"><i class="fa-solid fa-pencil"></i></a>
                    <a href="/painel/funcoes/{{this._id}}/deletar" class="btn btn-danger" title="Deletar Função"><i class="fa-solid fa-trash-alt"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>