<section class="p-4 border panel">
    <div class="grid-2">
        <div>
            <h2>Usuários</h2>
        </div>
        <div>
            <a href="/painel/usuarios/novo" title="Novo Usuário" class="btn btn-primary pull-right">Novo <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-Mail</th>
                <th>Função</th>
                <th>Criado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ryan Menezes</td>
                <td>menezesryan1010@gmail.com</td>
                <td>Administração</td>
                <td>13/02/2003</td>
                <td>
                    <a href="/painel/usuarios/1/editar" class="btn btn-primary" title="Editar Usuário"><i class="fa-solid fa-pencil"></i></a>
                    <a href="/painel/usuarios/1/deletar" class="btn btn-danger" title="Deletar Usuário"><i class="fa-solid fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</section>