@use 'variables'

// Texts
.text-primary
    color: variables.$primary-color

.text-secondary
    color: variables.$secondary-color

.text-third
    color: variables.$third-color

.text-success
    color: variables.$success-color

.text-danger
    color: variables.$danger-color

.text-warning
    color: variables.$warning-color

.text-dark
    color: variables.$dark-color

.text-light
    color: variables.$light-color

// Backgrounds    
.bg-primary
    background-color: variables.$primary-color
    color: white

.bg-secondary
    background-color: variables.$secondary-color
    color: white

.bg-third
    background-color: variables.$third-color
    color: white

.bg-success
    background-color: variables.$success-color
    color: white

.bg-danger
    background-color: variables.$danger-color
    color: white

.bg-warning
    background-color: variables.$warning-color
    color: black

.bg-dark
    background-color: variables.$dark-color
    color: white

.bg-light
    background-color: variables.$light-color
    color: black