@use 'variables'
@use 'mixins'
@import 'colors'

.form
    &-group
        @include mixins.flex(column)
    
    &-control
        @include mixins.border-radius(3px)
        padding: 14px
        background-color: #f5f5f5
        border: 1px solid #e3e3e3
        height: auto

    &-label
        font-size: 14px
        color: variables.$dark-color