@use 'variables'
    
.table
    border-collapse: collapse
    width: 100%
    text-align: center

    tr td, tr th
        padding: 12px
        vertical-align: center
    tr td    
        border-top: 1px solid lighten(variables.$dark-color, 80)