<section class="p-4 border panel">
    <h2>Bem-vindo, Ryan!</h2><hr>

    <div class="grid-4">
        <a href="" title="Usuários">
            <div class="panel panel-default">
                <div class="panel-heading">Usuários</div>
                <div class="panel-body">
                <h3>30</h3>
                </div>
            </div>
        </a>
    </div>
</section>