<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | {{config.app.name}}</title>
    <link rel="icon" type="image/*" href="/assets/img/icon.png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/brands.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/regular.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/svg-with-js.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/v4-font-face.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/v4-shims.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/v5-font-face.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/wysiwyg-editor-bootstrap/dist/css/wysiwyg.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/wysiwyg-editor-bootstrap/dist/css/highlight.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/panel/style.css">
</head>
<body>
    <section class="container-elements">
        {{> panel/_menu}}

        <div class="content">
            {{> _msg}}
            {{{body}}}
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/assets/plugins/wysiwyg-editor-bootstrap/dist/js/wysiwyg.js"></script>
    <script src="/assets/plugins/wysiwyg-editor-bootstrap/dist/js/highlight.js"></script>
    <script src="/assets/js/panel/script.js"></script>
</body>
</html>