<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.app.name}}</title>
    <link rel="icon" type="image/*" href="/assets/img/icon.png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/brands.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/regular.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/svg-with-js.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/v4-font-face.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/v4-shims.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/v5-font-face.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/site/style.css">
</head>
<body>
    {{> site/_header}}

    {{{body}}}
</body>
</html>